body {
    margin: 0;
    padding: 0;
  }
.title{
    width: 100%;
    display: flex;
    background-color: rgb(15, 183, 229);
    flex-direction: row;
    
}

.title img{
    margin: 0px;
    padding: 10px;
   
    max-height: 150px;
    margin-right: 10px; 
}

.title .banner-text{
    margin-top: 50px;;
    font-weight: bold;
    font-size: 30px;
}

.text{
    font-size: 20px;
    padding-bottom: 10px;
}



#returnButton {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 40px;
    margin-bottom: 60px;
    background: none;
    border: none;
    color: blue; 
    font-size: 16px; 
    cursor: pointer;
  }

  .container{
    border: 2px solid #212121;
    height: 185px;
    /* padding: 45px 0px 45px 220px; */
    margin: auto;
    margin-top: 50px;
    /* justify-content: center; */
    width: 480px;
    display: flex;
    flex-direction: column;
    
  }

  .header{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin-bottom: 10px;
  }
  .header img{
    padding: 5px;
  }
  .header h2{
    font-size: 30px;
    margin-left: 20px;
  }

.container .input{
    padding-left: 10px;
    font-size: 22px;
}

.container button {
    margin-top: 15px;
    margin-left: 170px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  .container button:hover {
    background-color: #45a049;
  }

  #availablePage{

    font-size: 22px;
    width: 480px;

    margin: auto ;
    margin-top: 5px;
  }
