body {
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
    display: flex;
    background-color: rgb(15, 183, 229);
    flex-direction: row;

}

.title img {
    margin: 0px;
    padding: 10px;

    max-height: 150px;
    margin-right: 10px;
}

.title .banner-text {
    margin-top: 50px;
    ;
    font-weight: bold;
    font-size: 30px;
}

.text {
    font-size: 20px;
    padding-bottom: 10px;
}



#returnButton {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 40px;
    margin-bottom: 60px;
    background: none;
    border: none;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}


.container {
    margin-top: 5px;
}

.btn {
    background-color: #4caf50;
}

.activity-count {
    font-size: 18px;
    color: #555;
    margin-bottom: 0px;
}


.star-icon {
    color: #ffd700;
    /* Gold color for stars */
    font-size: 24px;
    margin: 0 5px;
    margin-bottom: 10px;
}